#div-1{
    background-color: green;
    /* by one line it close  what element is nearly*/
    display: inline;
}#span-1{
    background-color: purple;
    /* disply-block follow the what value is given in properties */
    display: inline-block;
    width: 200px;
    height: 200px;
}

#span-2{
    background-color: red;
    /* its only onw properties element 
     */
    display: block;
}

#div-2{
    background-color: hotpink;
    display: none;
}

img{
    width: 250px;
    height: 250px;
    display: inline-block;
}

#p-1{
    background-color: #87CEFA;
}

#p-2{
    background-color: rgba(255,105, 180);
    width: 60%;
    
}

#p-3{
    background-color:yellow;
    
    width:40%
}

.sample{
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    text-align: center;
}

.img-float {
    width: 250px;
    height: 250px;
    /* float: inherit -nimama nita property  kung asa ang parent */
    float: inherit;
    /* for position content  property*/
  
  } 
  
  .box{
    background-color: red;
    border: 1px solid black;
    margin: 5px;
  }
  .fifty-percent{
        width: 50% ;
  }

  .one-hundred-pixels{
        width: 100px;
  }
  .parent{
    /* the  parenr follow whateve  */
    width: 135px;
    border:  2px solid navy;
    font-size: 30px;
  }

  .fifty-vw{

    /* vw -- screen size base pr sa scren iya kuwaon viewport width */
    width: 50vw;
  }

  .twenty-five-vh{

    /* si vh kay sunod sa parent */
    height: 25vh;
  }

  .one-rem{
    font-size: 1rem;
  }

  .one-em{
    font-size: 1em;
  }


  .two-rem{
    font-size: 2rem;
  }
  .two-em{
    font-size: 2em;
  }


  /* percnt and em is the sane value but follow th aparent*/
  .two-hundered-percent{
    font-size: 200%;
  }

  .backgrpound{
        min-height: 20rem;
        /* background-color: gray; */
        background-image: url(
            https://cutewallpaper.org/22/your-name-aesthetic-desktop-wallpapers/2954230375.jpg);
            background-repeat: no-repeat;
            /* background-size: contain; */
            background-size: 100%;
            background-position: center top;
            background-attachment: fixed;
  }

  .backgrpound h3{
    color: red;
  }


  .bg-title{
    color: bisque;
    text-align: center;
    font-size: 5em;
    margin: 0;
    line-height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);

  }

  .pare-element{
    background-color: skyblue;
    padding: 10px;
    position: relative;
    height: 300vh;
   
  }

  .chile-one{
    background-color: gray;
    padding: 10px;
  }

  .chile-two{
    background-color: yellow;
    padding: 10px;
    position: sticky;
    /* top: 0; */
    /* left: 10px;
    bottom: 10px; */
    top: 10px;
    
  }

  .chile-thre{
    background-color: gray;
    padding: 10px;
  }
  

  html{
    height: 800vh;
  }
  /* }

  .container-bg .bg-title{
    background-color: rgba(0, 0, 0, 0.5);
  } *
/* kind of position and behavior*/
/* fixed */
/* sticky */
/* static----stay lang */
/* reklative --- gagalaw if my left or top or so on na value*/
/* absolute --- kahit saan na element papunto  */


.container{
    position: relative;
}

.blac-box{
    position: relative;
    z-index: 1;
    border: 2px solid black;
   
    height: 100px;
    margin: 50px;
}

.gry-box{
    position: absolute;
    z-index: 3;
    border: 2px solid black;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50;
    top: -50px;
}

.green-box{
    position: absolute;
    z-index: 2;
    background: green;
    border: 2px solid black;
    width: 35px;
    left: -15px;
    height: 100px;
}