*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Open Sans', sans-serif;

  
 

}


/* start in navigation */

nav{
    list-style-type: none ;
    border-bottom: 2px solid rgb(189, 184, 184);
    position: sticky;
    top: 0;
    background-color: aliceblue;
    z-index: 1;
    
  
}

nav ul .right-logo img{
    position: relative;
    left: 17rem;
    margin-top: 2rem;
 
  
}

nav .right-logo, nav .nav{
    display: inline;
    margin: 0.5rem;
}
nav ul .right-nav li{
    display: inline;
    position: relative;
    left: 48%;
    bottom: 3rem;
    margin: 30px;
    
}


nav ul .right-nav li .tuitt-button{
    width: 150px;
    height: 50px;
    border-radius: 5rem;
    background-color: #c2195b;
    color: white;
    border: none ;
    margin-right: 200px;
}

/* end in navigation */


/* start landing section */

#bg-image{
    min-height:45vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  
  }
    
    
    

    

.front-bg {
    text-align: right;   
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 50vh;
    margin-bottom: 1rem;
    
    

  }

    
 
    
 


/* #bg-image .front-bg .container{
    position: static;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    text-align: right;
    height: 50%;
  
  
    
   
} */



 

#bg-image .front-bg .title{
    position: relative;
    color: white;
    font-size: 50px;
    width: 640px;
    left: 1200px;
    position: relative;
    text-align: right;



   
   
    
}


#bg-image .front-bg .container .subtitle{
    color: white;
    padding: 1rem;
    width: 34%;
    left: 1200px;
    position: relative;
    text-align: right;
   
}
  

 
    


#bg-image .front-bg .container .apply-now{
    width: 200px;
    height: 50px;
    border-radius: 3rem;
    background-color: #c2195b;
    color: white;
    border: none ;
    position:absolute;
    right: 68px;
    bottom: 490px;
  
  
}
/* End  landing section */



/* star intro*/
.intro{
    position: relative;
    padding: 5rem;
    margin-top: 2rem;
    text-align: center;
}

.intro .tittle-2{  
    font-family: 'Montserrat', sans-serif;
}

.intro .tittle-2, .intro .intro-decription{
    text-align: center;
    margin-bottom: 5rem;
}

.intro .intro-decription{
    text-align: left;
    width: 55%;
    height: 50%;    
    right: -27%;
    position: relative;
   
}
  /* End intro*/

/* start pre-footer */

.pre-footer {
    background: skyblue;
    padding: 5rem;
    text-align: center;
}

.pre-footer .title-2, .pre-footer .prefootr-description{
    margin-bottom: 3rem;
}


.pre-footer .prefootr-description{
    text-align: center;
    width: 920px;
    position: relative;
    right: -27%;

}



.pre-footer .book-button{
    width: 150px;
    height: 50px;
    border-radius: 5rem;
    background-color: #336589;
    color: white;
    border: none ;
    }




/* en pre-footer */


/* start footer */
footer{
    padding: 2rem;
    text-align: center;
}
/* end footer */

